<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{css/style.css}" />
</head>
<body>
	<h1>Edit product</h1>
	<div>
		<form th:object="${book}" th:action="@{../save}" action="#" method="post">
		  	<input type="hidden" id="id" th:field="*{id}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="lname">Title</label>
			<input type="text" id="lname" th:field="*{title}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="email">Price</label>
			<input type="text" th:field="*{price}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="year">Quantity</label>
			<input type="text" th:field="*{quantity}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="price">Seller</label>
			<input type="text" th:field="*{seller}" readonly/>
				<label for="catlist">Category</label>
			 <select id="catlist" th:field="*{category}" class="form-control">
       			<option th:each="category: ${categories}" th:value="${category.categoryId}" th:text="${category.name}"></option>
    		</select>
			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>

